[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/vim_taglist"]
	path = bundle/vim_taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-winmanager"]
	path = bundle/vim-winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule "bundle/vim-NERD-tree"]
	path = bundle/vim-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
